# üë• Gruppen√ºbung 1

Diese Gruppen√ºbung ist die erste von zwei Gruppen√ºbungen in der Lehrveranstalltung Datengewinnung und -analyse. Die finden im vorliegenden Colab-Notebook die Angabe und Codezellen, in denen Sie den vorgegebenen Code implementieren k√∂nnen.

Des weiteren finden Sie im Notebook eine Reihe von Testf√§llen, mit denen Sie selbst √ºberpr√ºfen k√∂nnen, ob Sie die Beispiele richtig implementiert haben.

Wenn Sie und Ihre Gruppenmitglieder die gefragten Funktionen im Notebook implementiert haben, k√∂nnen Sie das Colab-Notebook (im .ipynb Format) √ºber Moodle abgeben.

Sie k√∂nnen bei dieser Gruppen√ºbung maximal 60 Punkte erreichen:

Beispiel       | M√∂gliche Punkte
---------------|------------------
Beispiel 1.1   | 10
Beispiel 1.2   | 10
Beispiel 1.3   | 10
Beispiel 2     | 8
Testfall 2.4   | 2
Beispiel 3     | 10
Beispiel 4     | 10
**Gesamt**     | **60 Punkte**

## üë• Gruppenmitglieder

In [ ]:
# Setzen Sie hier die Namen der Gruppenmitglieder ein:
# Vorname Nachname
# Vorname Nachname
# Vorname Nachname
# Vorname Nachname

## ‚úèÔ∏è Beispiel 1

Dieses und die folgenden Bespiele beziehen sich auf die bereits aus der Lehrveranstaltung bekannte [w3schools](https://www.w3schools.com/sql/) Datenbank. Zur Wiederholung finden Sie das Datenbankschema hier grafisch abgebildet:

<div style="text-align: center">
  <img src="https://github.com/markusschanta/fhwien-dga-2025/blob/main/slides/assets/2-1-er-w3schools.png?raw=true" alt="drawing" width="500"/>
</div>

Der folgende Code dient dazu, eine Datenbankinstanz zu erstellen und mit Datens√§tzen zu bef√ºllen. Nach der Ausf√ºhrung des Codes k√∂nnen Sie die Datenbankinstanz √ºber die Variable ```db``` verwenden.

In [ ]:
import os
from urllib.request import urlopen

GITHUB_URL = "https://raw.githubusercontent.com/markusschanta/w3schools-database/refs/heads/master/w3schools.sqllite.sql"
create_sql = urlopen(GITHUB_URL).read().decode()

import sqlite3

try:
  db.close()
except:
  pass

db = sqlite3.connect("file::memory:?cache=shared")

db.executescript(create_sql)
db.commit()

### ‚úèÔ∏è Beispiel 1.1

‚≠ê **10 Punkte** ‚≠ê : Schreiben Sie eine SQL-Abfrage, die Ihnen die Produzenten ("Suppliers")  nach der Anzahl von Produkten absteigend sortiert ausgibt. Das Ergebnis der Abfrage soll als pandas Dataframe zur√ºckgegeben und angezeigt werden.

In [ ]:
import pandas as pd

# F√ºgen Sie hier Ihre Abfrage ein:
SQL = """ SELECT * FROM suppliers """

pd.read_sql_query(SQL, db)

### ‚úèÔ∏è Beispiel 1.2

‚≠ê **10 Punkte** ‚≠ê : Schreiben Sie eine SQL-Abfrage, die Ihnen die 10 Bestellungen mit dem gr√∂√üten Bestellwert ausgibt. Es soll zu diesen Bestellungen die ```OrderID``` und der Bestellwert ausgegeben werden.

In [ ]:
# F√ºgen Sie hier Ihre Abfrage ein:
SQL = """"""

pd.read_sql_query(SQL, db)

### ‚úèÔ∏è Beispiel 1.3

‚≠ê **10 Punkte** ‚≠ê : Schreiben Sie eine SQL-Abfrage, die Ihnen die Anzahl der Produkte nach Land des Produzenten ("Suppliers") gruppiert ausgibt. Das Ergebnis der Abfrage soll als pandas Dataframe in der Variable ```supplier_countries``` abgespeichert werden.

Der Dataframe soll aus zwei Spalten (```country``` und ```num_products```) bestehen.

In [ ]:
# F√ºgen Sie hier Ihre Abfrage ein:
SQL = """"""

supplier_countries = pd.read_sql_query(SQL, db)

supplier_countries

## ‚úèÔ∏è Beispiel 2

‚≠ê **8 Punkte** ‚≠ê : Sie arbeiten als Data Analyst im Marketing-Team eines B2B-Unternehmens. √úber ein Webformular wurden potenzielle Neukunden (Leads) generiert und deren angegebenes Jahresbudget in einer Datenbank gespeichert.

Da das Webformular keine automatische Pr√ºfung hatte, sind die Daten unzuverl√§ssig ("dirty data"):

* Manche Nutzer haben das Feld leer gelassen (wird als 0 importiert).
* Manche haben aus Versehen negative Zahlen eingegeben (Tippfehler).

Dar√ºber hinaus sind manche Budgets sind zu klein f√ºr Ihr Produkt (unter 1.000 ‚Ç¨), andere sind so gro√ü (√ºber 50.000 ‚Ç¨), dass sie vom "Enterprise Sales Team" manuell betreut werden m√ºssen und nicht in die automatische Auswertung geh√∂ren.

Schreiben Sie eine Python-Funktion mit dem Namen ```filter_zielgruppe```, die eine Liste von Budgets (Zahlen) entgegennimmt, unbrauchbare oder nicht passende Datens√§tze herausfiltert und eine bereinigte Liste zur√ºckgibt.

Die Regeln f√ºr die bereinigte Zielgruppe ("Qualified Leads") lauten:

* Der Wert darf nicht ```0``` sein (fehlende Angabe).
* Negative Werte m√ºssen ignoriert werden (Datenfehler).
* Das Budget muss mindestens **1.000 ‚Ç¨** und darf maximal **50.000 ‚Ç¨** betragen.

Die Funktion soll einen Parameter ```budgets``` akzeptieren (Liste von int oder float) und eine neue gefilterte liste zur√ºckgeben.

In [ ]:
# F√ºgen Sie hier Ihren Code ein

### üí° Testf√§lle

Die folgende Funktion ```check_result``` soll Ihnen helfen, ihre L√∂sung zum Beispiel selbst zu verfizieren. Die Funktion bekommt drei Parameter √ºbergeben:

* ```input```: Einen Eingabewert
* ```expected_result```: Den erwarteten R√ºckgabewert der Funktion
* ```actual_result```: Den tats√§chlichen R√ºckgabewert der Funktion

Je nachdem, ob der tats√§chliche R√ºckgabewert mit dem erwarteten √ºbereinstimmt, gibt die Funktion  ```check_result``` einen anderen Wert √ºber die Ausgabe aus.

In [ ]:
def check_result(i, expected_result, actual_result):
  print("Input: " + str(i))
  print("Expected result: " + str(expected_result))
  print("Actual result: " + str(actual_result))
  if expected_result == actual_result:
    print("‚úÖ OK! (actual result == expected result)")
  else:
    print("‚ùå ERROR! (actual result != expected result)")

### üí° Testfall 2.1

In [ ]:
input = [5000, 0, 12000, 800, -500, 45000, 0, 100000, 2500]
expected = [5000, 12000, 45000, 2500]
actual = filter_zielgruppe(input)

check_result(input, expected, actual)

### üí° Testfall 2.2

In [ ]:
input = [7000, 2000, 32000, 18000]
expected = [7000, 2000, 32000, 18000]
actual = filter_zielgruppe(input)

check_result(input, expected, actual)

### üí° Testfall 2.3

In [ ]:
input = [7000]
expected = [7000]
actual = filter_zielgruppe(input)

check_result(input, expected, actual)

### ‚úèÔ∏è Testfall 2.4

‚≠ê **2 Punkte** ‚≠ê : Definieren Sie hier einen eigenen Testfall analog zu den vorgegebenen Testf√§llen 1, 2 und 3. Der Testfall sollte die richtige Implementierung der Funktion ```reverse_with_loop``` √ºberpr√ºfen und idealerweise in Bezug auf die anderen Testf√§lle komplement√§re Aspekte abdecken.

In [ ]:
# F√ºgen Sie hier Testfall 2.4 ein

## ‚úèÔ∏è Beispiel 3

‚≠ê **10 Punkte** ‚≠ê : Implementieren Sie die Funktion ```greet_universal``` so, dass die Funktion eine universale Begr√º√üung f√ºr eine eine √ºbergebene Liste von Namen (```names```) zur√ºckliefert:

* Wenn gar keine Liste an Namen oder eine leere Liste an Namen √ºbergeben wird, solle die Begr√º√üung ```"Hello stranger!"``` lauten.
* Wenn eine Liste mit einem Namen (z.B. ```["Alice"]```) √ºbergeben wird, solle die Begr√º√üung ```"Hello Alice!"``` lauten.
* Wenn eine Liste mit zwei Namen (z.B. ```["Alice", "Bob"]```) √ºbergeben wird, solle die Begr√º√üung ```"Hello Alice and Bob!"``` lauten.
* Wenn eine Liste mit drei oder mehr Namen (z.B. ```["Alice", "Bob", "Carl"]```) √ºbergeben wird, solle die Begr√º√üung ```"Hello Alice, Bob and Carl!"``` lauten.

Im Folgenden finden Sie wieder Testf√§lle, die Ihnen helfen sollen, ihre L√∂sung zum Beispiel selbst zu verfizieren.

In [ ]:
# F√ºgen Sie hier Ihren Code ein

### üí° Testfall 3.1

In [ ]:
input = ["Alice"]
expected = "Hello Alice!"
actual = greet_universal(input)

check_result(input, expected, actual)

### üí° Testfall 3.2

In [ ]:
input = ["Alice", "Bob"]
expected = "Hello Alice and Bob!"
actual = greet_universal(input)

check_result(input, expected, actual)

### üí° Testfall 3.3

In [ ]:
input = ["Alice", "Bob", "Carl"]
expected = "Hello Alice, Bob and Carl!"
actual = greet_universal(input)

check_result(input, expected, actual)

## ‚úèÔ∏è  Beispiel 4

‚≠ê **10 Punkte** ‚≠ê : Implementieren Sie die Funktion ```counter``` so, dass die Funktion f√ºr eine eine √ºbergebene Liste (```l```) ein Dictionary mit den H√§ufigkeiten der in der Liste ```l``` enthaltenen Elemente zur√ºckliefert: Wenn in der Liste ```l``` ein Element ```"foo"``` genau zwei mal vorkommt, soll das Ergebnis der Funktion ein Dictionary mit dem Schl√ºssel ```"foo"```, der auf den Wert ```2``` verweist.

Zum Beispiel soll die Funktion ```counter``` f√ºr die Liste ```[1, 2, 3, 3, 3]``` das Dictionary ```{1: 1, 2: 1, 3: 3}``` zur√ºckliefern.

In [ ]:
# F√ºgen Sie hier Ihren Code ein

### üí° Testfall 4.1

In [ ]:
input = [1, 2, 3]
expected = {1: 1, 2: 1, 3: 1}
actual = counter(input)

check_result(input, expected, actual)

### üí° Testfall 4.2

In [ ]:
input = [1, 2, 3, 2 + 1, 4 - 1]
expected = {1: 1, 2: 1, 3: 3}
actual = counter(input)

check_result(input, expected, actual)

### üí° Testfall 4.3

In [ ]:
input = ['foo', 'bar', 'foo', 'baz', 'foo', 'qux']
expected = {'foo': 3, 'bar': 1, 'baz': 1, 'qux': 1}
actual = counter(input)

check_result(input, expected, actual)